h3{
    text-align: center;
    color: #008080;
}
.greska{
    color: darkred;
}
input.form-control {
    border: none; /* Uklanja okvir */
    border-bottom: 1px solid #ccc; /* Dodaje donju ivicu */
    border-radius: 0; /* Uklanja zaobljenost ivica */
    padding: 5px 0; /* Dodaje malo razmaka između teksta i linije */
    background-color: transparent; /* Uklanja pozadinsku boju */
    box-shadow: none; /* Uklanja senku */
    transition: border-color 0.2s; /* Dodaje glatku tranziciju za boju ivice */
}

/* Stil za input polje kada je fokusirano */
input.form-control:focus {
    outline: none; /* Uklanja spoljni okvir kada je fokusirano */
    border-bottom-color: #008080; /* Menja boju donje ivice kada je fokusirano */
}