
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="table-container">
            <h3>Change password</h3>
        <table class="table">
            <tr>
                <td>Current Password</td>
                <td>
                    <input type="password" name="password" [(ngModel)]="currpassword" class="form-control rounded" placeholder="current password" style="width: 300px;">
                </td>
                
            </tr>
            <tr>
                <td><label>New Password</label></td>
                <td>
                    <input type="password" name="password" [(ngModel)]="newpassword" [formControl]="passwordControl" class="form-control rounded" placeholder="new password" style="width: 300px;">
                    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                      <div *ngIf="passwordControl.hasError('pattern')">Password doesn't meet requirements.</div>
                      
                      </div>
                </td>
               
                
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" name="password" [(ngModel)]="confpassword" class="form-control rounded" placeholder="confirm password" style="width: 300px;">
                    <div>
                      <div *ngIf="newpassword != confpassword">Wrong password.</div>
                    </div>
                </td>
               
                
            
            </tr>
            <tr>
                <td colspan="2">
                  <div class="d-flex justify-content-center mt-3">
                    <button class="btn custom-button mx-1 rounded-pill"   (click)="changePassword()" >Submit</button>
                    
                   
                  </div>
                  <span class="greska">{{errormessage}}</span>
                </td>
              </tr>
        </table>
        </div>
      </div>
    </div>
</div>


<div class="text-center">
<br/>
<label>Forgot </label> <a routerLink="/forgotpassword"> password</a><label>?</label><br/>
<div class="d-flex justify-content-center mt-3">
  <button class="btn custom-button mx-1 rounded-pill"   (click)="back()" >&#8592;BackToProfile</button>
  
 
</div>

</div>



