
<nav class="navbar navbar-expand-lg navbar-light teal-green justify-content-between"> 
    <div class="container">
        <div class="navbar-nav">
           
            <button (click)="logout()" class="btn custom-button mx-1 rounded-pill"><i class="fas fa-sign-out-alt"></i>🔓 Logout</button>
            <a routerLink="/changepassword" class="nav-item nav-link">🔑 Change password</a>
            <a class="nav-item nav-link" routerLink="/edit-profile-teacher">🛠️ Edit profile</a>
        </div>
        <div class="col-auto">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/nastavnik" >Profile</a>
                
                <a class="nav-item nav-link" routerLink="/teacherclasses" >Classes</a>
                <a class="nav-item nav-link" routerLink="/mystudents">My students</a>
                
                
            <img *ngIf="user.avatar" src="{{user.avatar}}" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" routerLink="/edit-profile-teacher">
            <img  *ngIf="!user.avatar" src="assets/default.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" routerLink="/edit-profile-teacher">
            
        </div>
            
        </div>
    </div>
</nav>


<br/>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <img  *ngIf="user.avatar" src="{{user.avatar}}" class="img-fluid rounded-circle shadow" style="max-width: 400px; max-height: 400px;" >
        <img  *ngIf="!user.avatar" src="assets/default.png" class="img-fluid rounded-circle shadow" style="max-width: 400px; max-height: 400px;" >
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="table-container">
        <table class="table">
            <tr>
                <th>Firstname </th>
                <td>{{user.firstname}} </td>
            </tr>
            <tr>
                <th>Lastname </th>
                <td>{{user.lastname}} </td>
            </tr>
            <tr>
                <th>Address </th>
                <td>{{user.address}} </td>
            </tr>
            <tr>
                <th>email </th>
                <td>{{user.email}} </td>
            </tr>
            <tr>
                <th>Phone </th>
                <td>{{user.phone}} </td>
            </tr>
            <tr>
            <tr>
             
                <th>Grade</th>
                <td>{{teacher.grade}}</td>

                
            </tr>
            <tr>
                <th>Subjects</th>
                <td>
                    <ul *ngFor="let s of teacher.subjects">
                        <li>{{s}}</li>
                    </ul>
                </td>
            </tr>
         
            
        </table>
        </div>
      </div>
    </div>
  </div>