<!-- <table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td>Login as:</td>
        <td>
            <select [(ngModel)]="tip">
                <option value="ucenik">student</option>
                <option value="nastavnik">teacher</option>
            </select>
        </td>
    </tr>
</table>
<button (click)="login()">Login</button>
<span class="greska">{{poruka}}</span> -->

<!-- To sign in as admin click on <a routerLink="adminlogin">link</a>. -->



<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="table-container">
            <h3>Log in</h3>
        <table class="table">

            <tr>
                <td>Username:</td>
                <td>
                    <input type="text" name="username" [(ngModel)]="username" class="form-control rounded" placeholder="Username" style="width: 300px;">
                </td>
               
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control rounded" placeholder="Password" style="width: 300px;">
                  </td>
            </tr>
            <tr>
                <td>Login as:</td>
                <td>
                    <select [(ngModel)]="tip" class="form-select form-select-sm rounded">
                        <option value="ucenik">student</option>
                        <option value="nastavnik">teacher</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                  <div class="d-flex justify-content-center mt-3">
                    <button class="btn custom-button mx-1 rounded-pill"  (click)="login()" >Login</button>
                    
                   
                  </div>
                  <span class="greska">{{poruka}}</span>
                </td>
              </tr>
           

      </table>
      <div class="text-center">
        <br/>
        <label>Forgot </label> <a routerLink="/forgotpassword"> password</a><label>?</label><br/>
       <label> Don't have an account? </label><a routerLink="/register">Sign up</a>
       <div class="d-flex justify-content-center mt-3">
        <button class="btn custom-button mx-1 rounded-pill"   (click)="backtohomepage()" >&#8592;BackToHomePge</button>
        
       
      </div>
    </div>
       
      </div>
      </div>
    </div>
  </div>






